@charset "UTF-8";
body {
	background-color: #027DC0;
}
.login {
	width: 300px;
	height: 200px;
	background-image: url(login-top-bkg.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
}

.login .logo {
	padding: 10px;
	text-align: center;
}

.errorinfo{
	color:#ff0000;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
}

.promptinfo{
	color:#00A320;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
}

.login .form {
	background-color: #FFFFFF;
	height: 180px;
	width: 270px;
	border: 1px solid #F0F0F0;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: medium;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.login .form2 {
	background-color: #FFFFFF;
	height: 270px;
	width: 270px;
	border: 1px solid #F0F0F0;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: medium;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align:left;
}
.login .form3 {
	text-align:left;
}
.login .form4 {
	text-align:right;
}

.login .form2 td {
	font-size: small;
	color: #25A9E1;
}

.login .form td {
	font-size: small;
	color: #25A9E1;
}
.tc {
	font-size: x-small;
	color: #666666;
}
.login .button {
	height: 33px;
	background-color: #F4F9FC;
	background-image: url(login-bottom-bkg.gif);
	background-repeat: repeat-x;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.tc a {
	color: #0477C0;
}
.errorinfo{
	font-size: 12px;
}

div#mainFrame {
	width: 330px;
	margin-top: 5%;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

	
