@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	text-align:center;
	background:#007ebf url(../images/bg1.jpg) no-repeat center top;
}
ul, li ,p{
	margin:0;
	padding:0;
	float:left;
}
li {
	list-style:none;
}
.center {
	margin:0 auto;
	width:901px;
}

.errorinfo{
	color:#ff0000;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
}

.promptinfo{
	color:#00A320;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
}

#contentTopBg {
	width:100%;
	height:485px;
	padding:67px 0 0 0;
	background:url(../images/bg2.jpg) no-repeat;
}

#contentMidBg {
	width:100%;
	background:url(../images/bg3.gif) repeat-y;
}
#contentBotBg {
	width:100%;
	background:url(../images/bg4.gif) bottom no-repeat;
}

#copyrighBg	{
	width:100%;
	height:20px;
	background:url(../images/bg5.gif) bottom no-repeat;
}

#contentWhiteFrame {
	width:830px;
	margin:0 0 0 34px;
	float:left;
	display:inline;
}
#logo {
	text-align:left;
}
#nav {
	height:36px;
	width:822px;
	margin:20px 0 0 3px;
}
#bigButton {
	width:320px;
	height:36px;
	margin:0 0 0 12px;
	display:inline;
	float:left;
}
#bigButton ul {
	width:320px;
}
#bigButton ul li {
	width:151px;
	height:31px;
	line-height:31px;
	text-align:center;
	margin-left:7px;
	display:inline;
}
#bigButton ul li a {
	color:#ababab;
	width:151px;
	height:31px;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	background:url(../images/btnbg1.gif) no-repeat 0 0;
}
#bigButton ul li a:hover, #bigButton ul li a.over {
	color:#fff;
	background:url(../images/btnbg1.gif) no-repeat 0 -31px;
}

#smallButton {
	width:500px;
	height:20px;
	line-height:24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	float:right;
	text-align:right;
}
#smallButton ul{
	float:right;
	text-align:right;
}

#smallButton .login{
	display:block;
	height: 20px;
	width: 100px;
	font-family:Arial;
	color:#808080;
	font-size:8pt;
	text-decoration:none;
	margin-top: 2px;
	margin-right: 2px;
}

#smallButton .login img {
	height: 20px;
	width: 73px;
	text-align: center;
	background-image: url(../images/logout_button.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-right: 2px;
}

#smallButton .login img:hover {
	background-image: url(../images/logout_button.gif);
	background-repeat: no-repeat;
}

#smallButton .welcometext {
	font-family:Arial;
	color:#808080;
	font-size:8pt;
	text-decoration:none;	
}

#content{
	width:830px;
	float:left;
	display:inline;
	background:url(../images/sbg22.gif) repeat-y;
}
#rightBt {
	float:left;
	height:6px;
	overflow:hidden;
	margin-bottom:15px;
	background:url(../images/sbt2.gif) no-repeat;
}
#contentLeft {
	width:165px;
	height:500px;
	float:left;
}
.leftTitle {
	float:left;
	width:161px;
	height:31px;
	background:url(../images/sbg3.gif) no-repeat;
}
.leftTitle p{margin-left:2px;}

.bigtoptitle{
	color:#ffffff;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	border-left:#DEF0FA 1px solid;	
	height:29px;
	width:660px;
	text-align:left;
	margin:0px;
	background:#30A1DF;
}

.leftTopTitle{
	color:#29abe2;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	height:29px;
	width:150px;
	text-align:left;
	margin-left:0px;
}

.midTopTitle{
	color:#ffffff;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	border-left:#DEF0FA 1px solid;	
	height:29px;
	width:266px;
	text-align:left;
	margin:0px;
	background:#30A1DF;
}

.midTopTitle2{
	color:#29abe2;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	border-left:#DEF0FA 1px solid;	
	height:29px;
	width:5px;
	text-align:left;
	margin:0px;
	background:#FFFFFF;
}

.rightTopTitle{
	color:#ffffff;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	border-left:#DEF0FA 1px solid;	
	height:29px;
	width:387px;
	text-align:left;
	margin-left:0px;
	background:#30A1DF;
}

.title2	{
	color:#29abe2;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:29px;
	height:29px;
	width:100%;
	text-align:left;
	margin:0px;
}

.title2	img	{
	vertical-align:middle;
	margin:4px 5px 6px 8px;
}

.leftMidBg {
	background:url(../images/sbg1.gif) repeat-y;
}
.leftBt {
	height:5px;
	background:url(../images/sbt1.gif) no-repeat;
}

.leftBt2 {
	height:6px;
	margin-bottom:5px;
	background:url(../images/sbt11.gif) no-repeat;
}
.leftMidBg, .leftBt,.leftBt2{
	float:left;
	width:100%;
}
#contentRight {
	width:665px;
	float:right;
	margin-bottom:30px;
}
#contentRight img{border:0px}
#topTitle {
	height:31px;
	background:url(../images/sbg4.gif) no-repeat;
	padding-left:15px;
}

#searchCondition {
  height:85px;
  height:auto;
  background:#F8FCFD;
}

.searchresult {
  height:auto;
  margin-buttom:10px;
}

#searchCondition .searchtitle{
	font-family:Arial;
	font-size:10pt;
	width:100px;	
}

.sortlist{
	width:150px;
	float:left;
	text-align:left;
	margin-left:5px;
	margin-top:3px;
}

.pagelist{
	width:90px;
	float:left;
	text-align:middle;
	margin-left:5px;
	margin-top:3px;
	font-family:Arial;
	font-size:10pt;
}

.commonfont {
	font-family:Arial;
	font-size:10pt;
}

.membername{
	width:250px;
	float:left;
	text-align:left;
	margin-left:5px;
	margin-top:3px;
	font-weight:bold;
	font-family:Arial;
	font-size:10pt;
}

#searchCondition ul{
	list-style:none;
	width:260px;
	line-height:26px;
	height:26px;	
	float:right;
	margin-bottom:3px;
}
#searchCondition ul li{
	float:left;
	vertical-align:middle;	
}

#searchButton ul{
	list-style:none;
	width:240px;
	line-height:26px;
	height:26px;	
	float:right;
	margin-bottom:3px;
	margin-right:5px;
}
#searchButton ul li{
	height:26px;	
	float:right;
	vertical-align:middle;
}

#signalsTopTitle{
	height:31px;
	background:url(../images/sbg4.gif) no-repeat;
	padding-left:2px;
	overflow:hidden;
}
#signalsTopTitle span{
	margin-left:8px;
}
#rightMidBg {
	background:url(../images/sbg2.jpg) repeat-y;
}

#rightTitle, #rightMidBg, #rightBt {
	float:left;
	width:100%;
}

#rightContent	{
	width:655px;
	margin:0 0 0 2px;

	float:left;
	display:inline;
}

li.tableCol0,li.tableCol02,li.tableCol1,li.tableCol2,li.tableCol3,li.tableCol4,li.tableCol5,li.tableCol6,li.tableCol62,li.tableCol22,li.tableCol42,li.tableColCheck	{
	font-family:Arial;
	font-size:10pt;
	text-align:center;
}

#tableTitle	{
	width:640px;
	float:left;
	height:30px;
	line-height:30px;
	border-bottom:#29abe2 solid 1px;
}

#tableTitle	ul	li	{
	font-family:Arial;
	font-size:9pt;
	color:#29abe2;
	font-weight:bold;
}
#tableTitle2	{
	width:645px;
	height:16px;
	line-height:16px;
	padding-left:10px;
	margin-top:16px;
}

#tableTitle2 ul	li	{
	font-family:Arial;
	font-size:9pt;
	color:#29abe2;
	font-weight:bold;
	text-align:left;
}
.tableLine3	{
	width:630px;
	margin-left:10px;
}
.tableLine3 ul{
	width: 620px;
	height:36px;
	line-height:36px;	
	border-bottom:#E5EDF0 solid 1px;
}
.tableLine3 ul.nobd{
	border-bottom:none;
}
.tableLine3 ul	li{
	font-family:Arial;
	font-size:9pt;
	color:#9E9FA1;
	font-weight:bold;
	text-align:left;
}
.tableLine3 .uncheck li{
	color:#DBDFE0;
}
.tableLine3 .tableCol204 img{ margin-left:20px;}
.tableLine3 .tableCol207{ text-align:center;}
.tablebg{
	width:640px;
	height:auto;
	background:#F8FCFD;
	border-top:#E5EDF0 solid 1px;	
	border-bottom:#E5EDF0 solid 1px;
	float:left;	
}
li.tableCol0	{	
	width:70px;
}

*html li.tableCol0	img	{
	vertical-align:middle;
	margin:4px 1px 4px 1px;
}

html li.tableColCheck	img	{
	vertical-align:middle;
	margin:4px 1px 4px 1px;
}
li.tableCol0	img	{
	vertical-align:middle;
	margin:1px 1px 4px 1px;
}

li.tableCol02	{
	width:70px;
}

html li.tableCol02	img	{
	vertical-align:middle;
	margin:11px 1px 13px 1px;
}

li.tableCol1	{
	width:70px;
}

li.tableCol2	{
	width:130px;
}

*html li.tableCol2	img	{
	vertical-align:middle;
	margin:6px 1px 7px 1px;
}

li.tableCol22	{
	width:130px;
}

*html li.tableCol22	img	{
	vertical-align:middle;
	margin:15px 1px 14px 1px;
}
li.tableColCheck{
	width:40px;
}
li.tableCol3	{
	width:70px;
}
li.tableCol4	{
	width:70px;
}

li.tableCol4	img	{
	margin:5px 0;
	vertical-align:middle;
}

li.tableCol42	{
	width:70px;
}

li.tableCol42	img	{
	margin:15px 0;
	vertical-align:middle;
}


li.tableCol5	{
	width:100px;
}
li.tableCol6	{
	width:100px;
}

li.tableCol62	{
	width:100px;
}

li.tableCol6	img		{
	vertical-align:middle;
	margin:2px 5px 3px 0;
}

*html li.tableCol6	img	{
	vertical-align:middle;
	margin:4px 5px;
}


li.tableCol62	img	{
	vertical-align:middle;
	margin:11px 5px 13px 5px;
}

li.tableCol200	{
	width:50px;
}

li.tableCol201	{
	width:110px;
}
li.tableCol202	{
	width:70px;
}
li.tableCol203	{
	width:100px;
}

li.tableCol203	img	{
	vertical-align:middle;
	margin:5px 1px 4px 4px;
	margin-left:20px;
}
li.tableCol204 img	{
	vertical-align:middle;
	margin:4px 1px 4px 4px;
}
li.tableCol204	{
	width:100px;
}
li.tableCol205	{
	width:67px;
}
li.tableCol205 img,li.tableCol204 img	{
	vertical-align:middle;
	margin:5px 1px 4px 4px;
}
li.tableCol207	{
	width:70px;
}
li.tableCol208	{
	width:75px;
}

li.tableCol208	img	{
	vertical-align:middle;
	margin:5px 1px 4px 4px;
}
.tableLine	{
	width:640px;
	float:left;
	height:41px;
	/*background:url(../images/tbg3.gif) repeat-x;*/
}

.tableLine	ul	li	{
	height:41px;
	line-height:41px;
}

.chart	{
	float:left;
	width:640px;
	height:350px;
}

.tableLine2	{
	width:640px;
	border-top:#bce5f6 solid 3px;
	line-height:24px;
	float:left;
	
}
.tableLine2	ul	{
	width:100%;
	background:url(../images/tbg4.gif) repeat-x;
	border-bottom:#bce5f6 solid 1px;
}

.borderLine	{
	height:16px;
	overflow:hidden;
	border-bottom:#29abe2 solid 1px;
}

span.red	{
	color:#e92117;
}
span.green	{
	color:#0bdc0e;
}
span.gray	{
	color:#515658;
}

span.black	{
	color:#000;
}
span.blue	{
	color:#29abe2;
}
.fix14 {
	height:14px;
	overflow:hidden;
	clear:both;
}
.fix228	{
	height:228px;
}
.clear {
	width:99%;
	clear:both;
	height:0;
	overflow:hidden;
}

.latestSignal	{
	margin:5px 0 0 7px;
	width:157px;
	height:131px;
	display:inline;
}
.title{
	font-family:Arial;
	font-weight:700;
	font-size:14pt;
	color:#020202;
	text-align:left;
}
.title img{
	vertical-align:middle;
}
.title3{
	font-family:Arial;
	font-weight:700;
	font-size:14pt;
	color:#020202;
	text-align:left;
	margin-top:8px;
	margin-bottom: 8px;
	padding-left:12px;
}
#rightTopTitle{
	width:644px;
	height:32px;
	padding-left:20px;
	padding-top:12px;
	border-bottom:#D2D2D2 1px solid;
}
#rightTopTitleNobd{
	width:644px;
	height:32px;
	padding-left:20px;
	padding-top:12px;
}
#rightTopTitle span,#rightTopTitleNobd span{
	float:right;
	margin-right:15px;
}
#rightTopTitle a,#rightTopTitleNobd a{
	color:#29abe2;
	font-size:12px;
	font-family:Arial;
}

#rightTopTitle a:hover,#rightTopTitleNobd a:hover	{
	font-weight:bold;
}
#itemTitle{
	width:644px;
	height:42px;
	line-height:42px;
	margin-left:10px;	
}
#itemContent{
	float:left;
	width:640px;
	text-align:left;
}
#itemContent img{
	width:640px;
	height:462px;
}
.title1	{
	font-family:Arial;
	font-weight:bold;
	font-size:10pt;
	color:#5c5656;
	width:100%;
	text-align:center;
	padding:5px 0;
}
.rightBtLine{
	float:left;
	width:660px;
	height:3px;
	border-top:#D2D2D2 1px solid;
}
.imgTitle1	{
	width:163px;
	height:19px;
	margin:2px 0 0 4px;
	text-align:left;
}

.imgTitle1	img	{
	vertical-align:middle;
	margin:5px 0 3px 5px;

}

.imgTitle2	{
	color:#29abe2;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	line-height:31px;
	height:31px;
	width:100%;
	text-align:left;
}
.imgTitle2	img	{
	vertical-align:middle;
	margin:2px 1px 1px 1px;
	margin-right: 18px;
}

.quickLinks	{
	width:144px;
	float:left;
	margin:0 0 0 1px;
}

.quickLinks	ul	{
	width:100%;
}

.quickLinks	ul	li	{
	font-size:9pt;
	font-family:Arial;
	text-align:left;
	line-height:27px;
	height:27px;
	color:#5e5e5e;
	width:100%;
	float:left;
	border-bottom:#cfd3d4 solid 1px;
	padding-left:10px;	
}
.quickLinks	ul	li.nobd	{
	border-bottom:none;
}
.quickLinks	ul	li a	{
	color:#29abe2;
}

.quickLinks	ul	li a:hover	{
	font-weight:bold;
}

#leftmenu 	{
	width:162px;
	padding-left:3px;
}

#leftmenu 	ul	{
	width:100%;
	font-size:12px; font-weight:700;
}

#leftmenu 	ul	li	{
	font-size:9pt;
	font-family:Arial;
	text-align:left;
	line-height:30px;
	height:30px;
	color:#000000;
	width:100%;
	float:left;
	border-bottom:#cfd3d4 solid 1px;
	cursor:pointer;
}
#leftmenu ul li span{padding-left:10px;}
#leftmenu 	ul	li.nobd	{
	border-bottom:none;
}
#leftmenu 	ul	li.navon{
	background:#2AABE4;
	color:#FFFFFF;
}
#leftmenu ul li a{
	width:100%;
	height:30px;	
	text-decoration:none;
	display:block;
	background:#FFFFFF;
	color:#000000;
}
#leftmenu ul li a:hover ,#leftmenu ul li a.over{
	width:100%;
	height:30px;	
	text-decoration:none;
	display:block;
	background:#2AABE4;
	color:#FFFFFF;
}

#topLeftContent{
	width:390px;
	margin:0 0 0 10px;

	float:left;
	display:inline;
}
.tabtitle{
	width:390px;
	height:16px;
	line-height:16px;
	padding-left:10px;
	margin-top:8px;	
}
.lefttabtitle{
	height:24px;
	line-height:24px;
	background:#FFFFFF;
}
.tabtitle ul li{
	font-family:Arial;
	font-size:9pt;
	color:#29abe2;
	font-weight:bold;
	text-align:left;
}
.tabdata1 ul li span{ margin-left:5px;}
.tabdata1{
	font-family:Arial;
	font-size:8pt;
	padding-left:10px;
	color:#A5A5A7;	
	text-align:center;
	font-weight:bold;
	background:#F8FCFD;
	border-top:#E5EDF0 solid 1px;	
	border-bottom:#E5EDF0 solid 1px;
	float:left;	
}
.tabdata1 ul{
	border-bottom:#E6EDF3 1px solid;
}
.tabdata1 .nobd{
	border-bottom:none;
}
.tabdata1 ul li{
	height: 32px;
	line-height: 32px;
}
#topRightContent{
	width:240px;
	float:left;
	margin-left:10px;
	font-weight:bold;	
	background:#F8FCFD;		
}
#topRightContent .title{
	font-family:Arial;
	font-size:9pt;
	color:#29abe2;
	text-align:left;
}
#downLeftContent{
	width:260px;
	height:auto;
	float:left;
	margin-left:2px;
	font-weight:normal;
}

#downRightContent{
	width:380px;
	height:auto;
	float:left;
	margin-left:7px;
	font-weight:normal;
}

#smscreditscontent{
	width:100%;
	height:auto;
	float:left;
	font-weight:normal;
}

#smscreditscontent .graphicbox{
	width:640px;
	height:auto;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	border:#D2D2D2 1px solid;
	float:left;
}

#downLeftContent .graphicbox{
	width:100%;
	height:auto;
	margin-top:2px;
	border:#D2D2D2 1px solid;
	float:left;
}

#downLeftContent a	{
	font-weight:normal;
	color:#29abe2;
}

#downLeftContent a:hover {
	font-weight:bold;
}

#downRightContent .graphicbox{
	width:100%;
	height:auto;
	margin-top:2px;
	border:#D2D2D2 1px solid;
	float:left;
}

#productplanlist {
	width:250px;
	height:auto;
	line-height:30px;
	float:left;
	margin-bottom:10px;
	margin-left:5px;
}

#productplanlist ul{
	width:250px;
	float:left;
	vertical-align:center;
}

#productplanlist .planname {
	float:left;
	text-align:right;
	width:190px;
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
}

#productplanlist .statuson {
	float:left;
	text-align:left;
	width:50px;
	margin-left:5px;
	font-family:Arial;
	font-size:10pt;
	color:#3ebf3e;
	font-weight:bold;
}

#productplanlist .statusoff {
	float:left;
	text-align:left;
	width:50px;
	margin-left:5px;
	font-family:Arial;
	font-size:10pt;
	color:#d7d7d7;
	font-weight:bold;
}

.productplanname {
	width:640px;
	height:auto;
	line-height:30px;
	float:left;
	font-family:Arial;
	font-size:10pt;
	color:#21A6E7;
	font-weight:bold;
}

.productplanname ul {
	width:610px;
	margin-left:15px;
}

.productplanname .activeproductplantitle{
	float:left;
	text-align:left;
	width:195px;
	font-family:Arial;
	font-size:12pt;
	color:#3ebf3e;
	font-weight:bold;
}

.productplanname .inactiveproductplantitle{
	float:left;
	text-align:left;
	width:195px;
	font-family:Arial;
	font-size:12pt;
	color:#d7d7d7;
	font-weight:bold;
}

.productplanname .smspackagesubtitle1{
	width:120px;
	float:left;
	text-align:left;
	margin-right:10px;
}

.productplanname .smspackagesubtitle2{
	width:100px;
	float:left;
	text-align:center;
	margin-right:10px;
}

.productplanname .smspackagesubtitle22{
	width:100px;
	float:left;
	text-align:left;
	margin-right:10px;
}

.productplanname .smspackagesubtitle3{
	width:80px;
	float:left;
	text-align:right;
	margin-right:10px;
}

.productplanname .smspackagesubtitle32{
	width:80px;
	float:left;
	text-align:left;
	margin-right:10px;
}

.productplanname .smspackagesubtitle4{
	width:auto;
	float:left;
	text-align:left;
	margin-right:5px;
}

.productplanname .smspackagesubtitle5{
	width:auto;
	float:left;
	text-align:left;
	margin-right:5px;
}

.productplanname .smspackagesubtitle6{
	width:120px;
	float:left;
	text-align:right;
	margin-right:10px;
}

.productplanname .smspackagesubtitle62{
	width:120px;
	float:left;
	text-align:left;
	margin-right:10px;
}

#memberdetailsstyle {
	width:360px;
	height:auto;
	line-height:30px;
	float:left;
	margin-bottom:10px;
	margin-left:5px;
}

#memberdetailsstyle ul{
	width:350px;
	float:left;
	vertical-align:left;
}

#memberdetailsstyle .contentstyle {
	margin-left:10px;
}

#memberdetailsstyle .titlestyle {
	width:90px;
	font-family:Arial;
	font-size:10pt;
	color:#29abe2;
	font-weight:bold;
}

#memberdetailsstyle .titlestyle2 {
	width:100px;
	font-family:Arial;
	font-size:10pt;
	color:#29abe2;
	font-weight:bold;
}

#memberdetailsstyle .savebutton {
	float:right;
	margin-right:10px;
	margin-buttom:10px;
}



#graphicContent{
	margin-left:2px;
}
.graphicbg{
	width:164px;
	height:192px;
	float:left;
	background:#FFFFFF;
	
	border-right:#CFCFD1 1px solid;
	border-bottom:#CFCFD1 1px solid;

}
.graphicbg .topinfo{
	width:156px;
	height:28px;
	line-height:28px;	
	text-align:left;
	background:url(../images/sbg5.gif);
	margin-left:4px;
	margin-right:4px;
}
.graphicbg .downinfo{
	width:156px;
	height:28px;
	line-height:28px;		
	text-align:left;	
	background:url(../images/sbg6.gif);
	margin-left:4px;	
	margin-right:4px;	
}
.graphicbg .graphic{
	width:156px;
	height:130px;
	line-height:130px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:4px;
	margin-right:4px;	
	background:#F9F9F9;
	overflow:hidden;
}
.graphicbg	img	{
	vertical-align:middle;
	margin:5px 0 6px 0px;
}
.graphicContent .nobd{
	border-right: none;
}
.graphicbg  .infoleftimg{
	width: 60px;
	float:left;
	font:10px;
	font-weight:bold;
	color:#5C5C5E;
}
.graphicbg .inforighttext{
	width:96px;
	color:#10A2DB;	
	text-align:right;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;	
}
.inforighttext img{margin-right: 8px;}
.graphicbg  .infoleftimg2{
	width: 80px;
	float:left;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	color:#5C5C5E;
}
.infoleftimg2 img{margin-right:8px;}
.graphicbg .inforighttext2{
	width:76px;
	color:#10A2DB;	
	text-align:right;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.inforighttext2 img{margin-left: 8px;}

.tabboard{
	width: 620px;
	margin:10px;
	height:auto;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	color:#CACBCD;
	height:48px;
	line-height:48px;
}
.tabiconbox{
	width:40px;
	height:48px;
	float:left;
	text-align:left;
}
.tabboard ul{
	line-height:24px;
	height:24px;
	list-style:none;
	width:140px;
}
.tabboard ul li{
	float:left;
}
.tabHLine{

}
.tabboard .bluetitle{font-family:Arial;font-size:9pt;font-weight:600;color:#2CABDE; width:40px;}
.tabboard .downbox{ 
	 width:100px;
}
.tabcol1{
	width:200px;
	float:left;
	border-right:#DEF0FA 2px solid;
	margin-right:10px;
}
.tabcol2{
	width:200px;
	float:left;	
	border-right:#DEF0FA 2px solid;	
	margin-right:10px;	
}
.tabcol3{
	width:180px;
	float:left;	
}
.tabcol1,tabcol2,tabcol3{height:48px; margin-bottom:10px;}
.tabboard{
	width: 620px;
	margin:10px;
	height:auto;
	font-weight:bold;
	font-family:Arial;
	font-size:9pt;
	color:#CACBCD;
	height:24px;
	line-height:24px;
}
.tabcol4{
	width:200px;
	float:left;
	border-right:#DEF0FA 2px solid;	
	margin-right:10px;
	text-align:left;
	height:32px;
	margin-bottom:10px;
}
.bluetime{
	font-weight:normal;
	font-family:Arial;
	font-size:14pt;
	color:#2CABDE;
}
.tabcol5{

}
.tabcol6{
	width:326px;
	height:90px;
	line-height:90px;
	float:left;
	margin-bottom:10px;
}
.tabcol7{
	width:290px;
	height:90px;
	line-height:90px;
	float:left;
	margin-bottom:10px;	
}
#tabQuickLinks p{
	float:left;
	font-family:Arial;
	font-size:9pt;
	font-weight:600;
	color:#2CABDE;
	margin-right:6px;
}
#tabQuickLinks ul{
	list-style:none;
	width:280px;
	line-height:26px;
	height:26px;	
	float:left;
	margin-bottom:3px;
}
#tabQuickLinks ul li{
	float:left;
	vertical-align:middle;
}
#tabQuickLinks .ibox{
	width:180px;
	height:20px;
	border:1px #2CABDE solid;
}

.iLongBox {
	width:145px;
	height:20px;
	border:1px #2CABDE solid;
}

.btSaveBar{
	text-align:right;
	margin-top:18px;
	padding-right:30px;
}